---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.tsx";
import Footer from "@/components/Footer.astro";
import MemberInfo from "@/components/MemberInfo.astro";
---

<Layout title="Lahore Design Festival">
    <main class="flex flex-col bg-zinc-950">
        <Header />
        <section class="relative w-screen h-screen">
            <img
                src="/index-group.png"
                alt="Hazur Palace"
                class="w-full h-full object-cover opacity-40"
            />
            <div class="absolute inset-0 flex justify-center items-center">
                <span
                    class="text-white font-bold font-primary text-5xl md:text-7xl"
                    >About Us</span
                >
            </div>
        </section>

        <section class="flex flex-col gap-16 text-white font-primary my-16 mx-8 md:mx-48 lg:mx-96">
            <div class="w-ful flex flex-col-reverse lg:flex-row-reverse justify-between items-center gap-12">
                <MemberInfo
                    name="Taneer Jannat"
                    title="President INDEX"
                    quote="ڈیزائن کیجئے ،جیسا بھی ہو، ڈیزائن کیجئے!"
                    email=""
                />
                <div class="square-aspect w-64">
                    <img src="/members/taneer.jpg" />
                </div>
            </div>

            <div class="flex flex-col gap-8 font-normal text-xl">
                <p>
                    INDEX is a student-run society in LUMS that primarily
                    focuses on problem-solving and designing innovative
                    solutions to conventional problems. INDEX actively works to
                    develop a thriving design community throughout Pakistan by
                    promoting design in every sphere of life.
                </p>
                <p>
                    Team INDEX encourages design thinking and provides a
                    collaborative platform to beginners and professionals alike.
                    Our inclusive culture thrives upon monthly Design Workshops,
                    hands-on interactive sessions with industry experts,
                    impact-ridden social responsibility projects and our
                    flagship mega-event: the Lahore Design Festival.
                </p>
            </div>
        </section>
        <Footer />
    </main>
</Layout>
