---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.tsx";
import Footer from "@/components/Footer.tsx";
import MemberInfo from "@/components/MemberInfo.astro";
---

<Layout title="Lahore Design Festival">
    <main class="flex flex-col bg-black text-white">
        <Header />
        <div class="mt-12">
            <h1 class="text-6xl font-black font-secondary text-center">Contact Us</h1>
        </div>

        <!-- Vice Presidents Section -->
        <section class="flex flex-col gap-16 text-white font-primary my-16 mx-8 md:mx-48 lg:mx-96">
            <div class="flex justify-center">
                <h2 class="bg-white px-6 py-2 rounded-3xl w-48 text-black font-bold font-secondary text-center">Vice Presidents</h2>
            </div>
            <div class="w-ful flex flex-col-reverse lg:flex-row justify-between items-center gap-12">
                <MemberInfo
                    name="Sahibzada Hassan Mansoor Bugvi"
                    title="Convenor"
                    quote="Being a part of LDF has been an incredible honor."
                    email="hmbugvi@gmail.com"
                />
                <img src="/members/bugvi.png" />
            </div>
            <div class="w-ful flex flex-col-reverse lg:flex-row-reverse justify-between items-center gap-12">
                <MemberInfo
                    name="Sahibzada Hassan Mansoor Bugvi"
                    title="Convenor"
                    quote="Being a part of LDF has been an incredible honor."
                    email="hmbugvi@gmail.com"
                />
                <img src="/members/bugvi.png" />
            </div>
        </section>

        <!-- Convenors Section -->
        <section class="flex flex-col gap-16 text-white font-primary my-16 mx-8 md:mx-48 lg:mx-96">
            <div class="flex justify-center">
                <h2 class="bg-white px-6 py-2 rounded-3xl w-48 text-black font-bold font-secondary text-center">Convenors</h2>
            </div>
            <div class="w-ful flex flex-col-reverse lg:flex-row justify-between items-center gap-12">
                <MemberInfo
                    name="Sahibzada Hassan Mansoor Bugvi"
                    title="Convenor"
                    quote="Being a part of LDF has been an incredible honor."
                    email="hmbugvi@gmail.com"
                />
                <img src="/members/bugvi.png" />
            </div>
            <div class="w-ful flex flex-col-reverse lg:flex-row-reverse justify-between items-center gap-12">
                <MemberInfo
                    name="Sahibzada Hassan Mansoor Bugvi"
                    title="Convenor"
                    quote="Being a part of LDF has been an incredible honor."
                    email="hmbugvi@gmail.com"
                />
                <img src="/members/bugvi.png" />
            </div>
        </section>

        <!-- Marketing Section -->
        <section class="flex flex-col gap-16 text-white font-primary my-16 mx-8 md:mx-48 lg:mx-96">
            <div class="flex justify-center">
                <h2 class="bg-white px-6 py-2 rounded-3xl w-48 text-black font-bold font-secondary text-center">Marketing</h2>
            </div>
            <div class="w-ful flex flex-col-reverse lg:flex-row justify-between items-center gap-12">
                <MemberInfo
                    name="Sahibzada Hassan Mansoor Bugvi"
                    title="Convenor"
                    quote="Being a part of LDF has been an incredible honor."
                    email="hmbugvi@gmail.com"
                />
                <img src="/members/bugvi.png" />
            </div>
            <div class="w-ful flex flex-col-reverse lg:flex-row-reverse justify-between items-center gap-12">
                <MemberInfo
                    name="Sahibzada Hassan Mansoor Bugvi"
                    title="Convenor"
                    quote="Being a part of LDF has been an incredible honor."
                    email="hmbugvi@gmail.com"
                />
                <img src="/members/bugvi.png" />
            </div>
        </section>

        <!-- Events Section -->
        <section class="flex flex-col gap-16 text-white font-primary my-16 mx-8 md:mx-48 lg:mx-96">
            <div class="flex justify-center">
                <h2 class="bg-white px-6 py-2 rounded-3xl w-48 text-black font-bold font-secondary text-center">Events</h2>
            </div>
            <div class="w-ful flex flex-col-reverse lg:flex-row justify-between items-center gap-12">
                <MemberInfo
                    name="Sahibzada Hassan Mansoor Bugvi"
                    title="Convenor"
                    quote="Being a part of LDF has been an incredible honor."
                    email="hmbugvi@gmail.com"
                />
                <img src="/members/bugvi.png" />
            </div>
            <div class="w-ful flex flex-col-reverse lg:flex-row-reverse justify-between items-center gap-12">
                <MemberInfo
                    name="Sahibzada Hassan Mansoor Bugvi"
                    title="Convenor"
                    quote="Being a part of LDF has been an incredible honor."
                    email="hmbugvi@gmail.com"
                />
                <img src="/members/bugvi.png" />
            </div>
        </section>
        <Footer />
    </main>
</Layout>
