---
import Layout from '../layouts/Layout.astro';
import Contact from '@/components/Contact.astro';
import Header from "../components/Header.tsx"


<Layout title="Contact Us">
	<main class="flex flex-col gap-4 bg-[#f2f2f2]">
		<Header></Header>
		<Contact></Contact>
	</main>
</Layout>