---
import Layout from '../layouts/Layout.astro';
import ParallaxGroup from '@/components/Parallex.tsx';
---

<Layout title="Lahore Design Festival">
	<main class="flex flex-col gap-4 bg-[#f2f2f2]">
		<ParallaxGroup client:load/>
	</main>
</Layout>