

<section class=" bg-black border border-solid border-black w-full min-h-96">
    <div class="flex justify-center items-center min-h-screen ">
       <div class="flex flex-col gap-2 sm:flex-row sm:gap-2 rounded-lg overflow-hidden shadow-lg max-w-7xl w-100 ">
          <div class="bg-[rgb(24,24,24)] pt-10 pb-16 px-8 text-left rounded-xl">
             <p class="text-lg leading-loose text-white font-SpaceGrotesk px-5">Be part of the LDF experience!Engage with AI pioneers, witness cutting-edge audio-video advancements, and explore our transformation of hybrid work and customer experience. </p><br>
             <p class="text-lg leading-loose text-white font-SpaceGrotesk py-10 px-5"> Don't miss out on 40+ breakout sessions, 30 technical training courses, and insights from top-tier customer speakers.</p>
          </div>
          <div class="flex  bg-[radial-gradient(circle_at_right,_var(--tw-gradient-stops))] from-white via:grey-300 to-black items-center justify-center rounded-xl">
            <div class="bg-black py-10 px-8 mx-0.5 my-0.5 text-center rounded-xl relative  ">
             <img src="images/ticket1.png" alt="Image" class="w-full h-auto">
             <div class="absolute top-12 left-0 right-12 bottom-22 text-white z-10 flex items-center justify-center">
               <h5 class="text-sm font-bold mb-4 text-white font-SpaceGrotesk ">One Day Pass</h5>
             </div> 
             <p class="text-base leading-loose mb-8 text-sm px-2  text-white font-serif">Attend the event in Lahore, Pakistan and get access to the full festival.</p>
             <a href="#" class="inline-block px-6 py-3 text-sm font-semibold rounded-md bg-transparent text-white hover:text-gray-100">Register Now →</a>
          </div>
         </div>
          <div class="flex  bg-[radial-gradient(circle_at_right,_var(--tw-gradient-stops))] from-white via-grey-300 to-black items-center justify-center rounded-xl">
            <div class="bg-black py-10 px-8 mx-0.5 my-0.5 text-center rounded-xl relative  ">
             <img src="images/ticket1.png" alt="Image" class="w-full h-auto">
             <div class="absolute top-12 left-0 right-12 bottom-22 text-white z-10 flex items-center justify-center">
               <h5 class="text-sm font-bold mb-4 text-white font-SpaceGrotesk ">Full Day Pass</h5>
             </div> 
             <p class="text-base leading-loose mb-8 text-sm px-2  text-white font-serif">Attend the event in Lahore, Pakistan and get access to the full festival.</p>
             <a href="#" class="inline-block px-6 py-3 text-sm font-semibold rounded-md bg-transparent text-white hover:text-gray-100">Register Now →</a>
          </div>
         </div>
        </div>
      </div>
</section>