

<section class="border border-solid border-black bg-black font-SpaceGrotesk text-gray-200 flex flex-row w-full min-h-96">
    <div class="border bg-neutral-900 border-neutral-900 text-2xl h-[420px] w-[600px] ml-[110px] my-[60px] px-[50px] py-[50px] rounded-2xl">

        <p>Be part of the LDF experience! Engage with AI pioneers, witness cutting-edge audio-video advancements, and explore our transformation of hybrid work and customer experience.</p>
        <br>
        <p>Don't miss out on 40+ breakout sessions, 30 technical training courses, and insights from top-tier customer speakers.</p>

    </div>

    <div class="border-[2px] border-neutral-800 size-5 h-[420px] mx-[20px] my-[60px] w-[313px] rounded-[12px] px-[12px] relative">
        <img class="absolute left-2.5 top-3" src= "/images/CTA-card-1.png">
        <p class="absolute bottom-11 font-Georgia font-white text-[20px] px-[10px] py-[2px]">Attend the event in Lahore, Pakistan and get access to the full festival.</p>
        <div class="absolute bottom-[15px] right-[5px] flex flex-row px-[24px] py-[13px] w-[140px] h-[46px]">
            <h6 class="font-white mr-[12px]">Register</h6>
            <img class="pt-[5px]" src="/images/arrow.svg">
        </div>
    </div>

    <div class="border-[2px] border-neutral-800 size-5 h-[420px] my-[60px] w-[313px] rounded-[12px] px-[12px] relative">
        <img class="absolute left-2.5 top-3" src= "/images/CTA-card-2.png">
        <p class="absolute bottom-11 font-Georgia font-white text-[20px] px-[10px] py-[2px]">Attend the event in Lahore, Pakistan and get access to the full festival.</p>
        <div class="absolute bottom-[15px] right-[5px] flex flex-row px-[24px] py-[13px] w-[140px] h-[46px]">
            <h6 class="font-white mr-[12px]">Register</h6>
            <img class="pt-[5px]" src="/images/arrow.svg">
        </div>
    </div>
</section>