

<section class="border border-solid border-black w-full min-h-96 bg-black">
    <div>
        <h1 class="text-4xl font-normal font-georgia text-white m-1">EVENT<br>CONVENTIONS</h1>

        <div class="flex flex-row gap-0.5 w-auto">
            <div class="border border-black rounded-3xl m-4 p-7 w-1/4 bg-white h-[80%]">
                <div class="">
                    <h1 class="text-4xl font-normal font-georgia">Visual<br>Communication<br>Convention </h1>
                    <p class="text font-normal font-georgia text-gray-500">
                        <br>Get hands-on technical product training<br>
                        with over 30 instructor-led courses and<br>
                        interactive labs covering the entire Webex<br>
                        portfolio.<br>
                    </p>
                </div>
                <div class="p-8"></div>
                <div class="h-30">
                    <img src="public/images/EventConventions/discover-Image.jpeg.png">
                </div>
            </div>
            



            <div class="border border-black rounded-3xl m-4 p-7 w-1/4 bg-white h-[80%]">
                <div class="">
                    <h1 class="text-4xl font-normal font-georgia">Inspir-Ed:<br>DESIGNing<br>Education</h1>
                    <p class="text font-normal font-georgia text-gray-500">
                        <br>Get hands-on technical product training<br>
                        with over 30 instructor-led courses and<br>
                        interactive labs covering the entire Webex<br>
                        portfolio.<br>
                    </p>
                </div>
                <div class="p-8"></div>
                    <div class="h-30">
                        <img src="public/images/EventConventions/connect-image.jpg.png">
                    </div>
            </div>


            <div class="border border-black rounded-3xl m-4 p-7 w-1/4 bg-white h-[80%]">
                <div class="">
                    <h1 class="text-4xl font-normal font-georgia">Tech Product<br>Convention</h1>
                    <p class="text font-normal font-georgia text-gray-500">
                        <br>Let loose and dance the night away with<br>
                        parties featuring DJ Graffiti and Alter Ego.<br>
                        Plus, experience the thrill of racing with<br>
                        our McLaren simulators.<br>
                    </p>
                </div>
                <div class="p-12 m-1"></div>
                    <div class="h-30">
                        <img src="public/images/EventConventions/learn-image.jpeg.png">
                    </div>
            </div>
            
        </div>
        
    </div>
</section>