

<section class="border border-solid border-black w-full min-h-96 bg-black">
    <div>
        <div class="p-10">
            <h1 class="text-4xl font-normal font-georgia text-white m-1">EVENT<br>CONVENTIONS</h1>

            <div class="flex flex-row gap-0.5 w-auto">
                <div class="border border-black rounded-3xl m-4 p-7 w-1/4 bg-white h-[80%]">
                    <div class="">
                        <h1 class="text-4xl font-normal font-georgia">Visual<br>Communication<br>Convention </h1>
                        <p class="text font-normal font-georgia text-gray-500">
                            <br>Get hands-on technical product training<br>
                            with over 30 instructor-led courses and<br>
                            interactive labs covering the entire Webex<br>
                            portfolio.<br>
                        </p>
                    </div>
                    <div class="p-8"></div>
                    <div class="h-30">
                        <img src="public/images/EventConventions/discover-Image.jpeg.png">
                    </div>
                </div>
                



                <div class="border border-black rounded-3xl m-4 p-7 w-1/4 bg-white h-[80%]">
                    <div class="">
                        <h1 class="text-4xl font-normal font-georgia">Inspir-Ed:<br>DESIGNing<br>Education</h1>
                        <p class="text font-normal font-georgia text-gray-500">
                            <br>Get hands-on technical product training<br>
                            with over 30 instructor-led courses and<br>
                            interactive labs covering the entire Webex<br>
                            portfolio.<br>
                        </p>
                    </div>
                    <div class="p-8"></div>
                        <div class="h-30">
                            <img src="public/images/EventConventions/connect-image.jpg.png">
                        </div>
                </div>


                <div class="border border-black rounded-3xl m-4 p-7 w-1/4 bg-white h-[80%]">
                    <div class="">
                        <h1 class="text-4xl font-normal font-georgia">Tech Product<br>Convention</h1>
                        <p class="text font-normal font-georgia text-gray-500">
                            <br>Let loose and dance the night away with<br>
                            parties featuring DJ Graffiti and Alter Ego.<br>
                            Plus, experience the thrill of racing with<br>
                            our McLaren simulators.<br>
                        </p>
                    </div>
                    <div class="p-12 m-1"></div>
                        <div class="h-30">
                            <img src="public/images/EventConventions/learn-image.jpeg.png">
                        </div>
                </div>
            </div>
        </div>
        <div class="bg-black h-36 w-full px-16 p-x py-3 my-8">
            
            <div class="bg-white rounded-full py-3 px-4 h-[100%] w-full">
                
                <div class="bg-white h-full w-40 rounded-full float-end flex items-center justify-center mx-10">
                    <button class="flex flex-row">
                         <h3 class="font-bold font-SpaceGrotesk"> Download Invite</h3>
                        <img src="public/images/EventConventions/material-symbols_download.svg" class="h-6 w-6 mx-1">
                    </button>
                </div>
                <div class="flex flex-row">
                    <div>
                        <img src="public/images/EventConventions/div.banner__media-img.png" class="h-[100%]">
                    </div>
                    <div class="py-2 flex items-center object-none object-right">
                        <h2 class="text-3xl font-normal font-georgia"> Do you need to convince someone?<br>We've got you covered. </h2>
                    </div>
                </div>
                
                    
                
            </div>
        </div>
    </div>
</section>

