<footer class="border border-solid border-black w-full p-4 bg-black">
    <div
        class="container mx-auto mt-20 mb-4 flex flex-col items-center text-gray-400 text-xs md:text-sm"
    >
        <div class="flex justify-between items-center w-full px-4 lg:px-16">
            {
                /* Left Container: Logo, Mission Statement, and Social Media Icons */
            }
            <div class="flex flex-col space-y-6 items-start">
                <a href="/#">
                    <img src="/ldf-logo.svg" alt="Logo" class="h-12" />
                </a>
                <p class="text-gray-300 text-lg font-normal">
                    Tech. Design. Reimagine.
                </p>
                <div class="flex space-x-2">
                    <a
                        href="https://www.instagram.com/index.lums/"
                        class="text-white"
                        target="_blank"
                    >
                        <img src="/instagram.svg" alt="Instagram" class="h-9" />
                    </a>

                    <!-- <a href="#" class="text-white">
                        <img src="/twitterx.svg" alt="X" class="h-8" />
                    </a> -->

                    <a
                        href="https://www.linkedin.com/company/index-the-design-and-innovation-society"
                        class="text-white"
                        target="_blank"
                    >
                        <img src="/linkedin.svg" alt="LinkedIn" class="h-9" />
                    </a>

                    <!-- <a href="#" class="text-white">
                        <img src="/tiktok.svg" alt="TikTok" class="h-9" />
                    </a> -->
                </div>
            </div>

            {/* Right Container: Contact, Address, Email, and Phone Number */}
            <div class="flex flex-col space-y-10">
                <p class="text-[#BFB9FA] text-base font-normal">Contact</p>
                <div class="flex flex-col space-y-2">
                    <p>LUMS, Sector U, DHA Phase V<br />Lahore, Pakistan</p><br
                    />
                    <p>index@lums.edu.pk</p>
                    <p>+92 304 5693895  </p>
                </div>
            </div>
        </div>

        {/* Bottom Links Container */}
        <div class="flex justify-between mt-16 w-64 md:w-96">
            <a href="#">&copy; 2024 Index</a>
            <a href="#"> Code of Conduct</a>
            <!-- <a href="#"> Privacy Policy</a> -->
            <a href="/contact"> Contact Us</a>
        </div>
    </div>
</footer>
