<div
    class="flex flex-row space-x-8 py-3 justify-center items-center bg-black text-white"
>
    <img
        src="/images/frame.svg"
    />
    <div
        class="font-SpaceGrotesk space-x-8 flex flex-row justify-center px-12"
    >
        <div>Info</div>
        <div>Talks</div>
        <div>Speakers</div>
        <div>Subevents</div>
        <div>Sponsors</div>
        <div>Contact Us</div>
        <div>About Us</div>
    </div>

    <div class="flex flex-row space-x-8">Register Now</div>
</div>
