

<section class="border border-solid border-black w-full min-h-96 bg-black text-gray-200">
    <div class="flex flex-row space-x-8 space-y-8 my-3 justify-center align-middle">
    <img src="/images/frame.svg" class="ml-1 mr-12">
    <div class="font-SpaceGrotesk space-x-8 flex flex-row justify-center px-12">
        <div>Info</div>
        <div>Talks</div>
        <div>Speakers</div>
        <div>Subevents</div>
        <div>Sponsors</div>
        <div>Contact Us</div>
        <div>About Us</div>
    </div>

    <div class="flex flex-row space-x-8">Register Now</div>

    </div>
</section>