

<section class="border border-solid border-black w-full min-h-96">
    <img src="/images/frame.png">
    <div class="font-SpaceGrotesk space-x-8 flex flex-row justify-center">
        <div>Info</div>
        <div>Talks</div>
        <div>Speakers</div>
        <div>Subevents</div>
        <div>Sponsors</div>
        <div>Contact Us</div>
        <div>About Us</div>
    </div>
</section>