

<section class=" bg-transparent w-full min-h-96">
    <div class="flex items-center mb-8 justify-between">
        <h3 class="text-white text-2xl font-georgia font-bold left-elements text-left dark:text-white">Visionary Speakers</h3>
        <a href="/speakers" class=" hover:bg-slate-200 text-sm mr-2 mt-2 px-4 py-2 bg-white rounded-2xl text-black font-bold font-SpaceGrotesk right-elements text-right">View All Speakers →</a>
      </div>
      <div class="flex flex-col gap-1 sm:flex-row sm:gap-2 rounded-lg overflow-hidden shadow-lg max-w-7xl w-100 ">
        <div class="bg-transparent text-center">
         <img src="image 10.png" alt="Image" class="w-full h-auto rounded-3xl">
         <div class="top-12 left-0 right-12 bottom-22 text-white z-10 flex items-center justify-center">
           <h5 class="text-xl font-bold mb-4 text-white font-georgia ">Speaker Name</h5>
         </div> 
         <p class="text-base leading-loose mb-8 text-sm px-2  text-white font-georgia">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
         </div>
         <div class="bg-transparent text-center ">
            <img src="image 10.png" alt="Image" class="w-full h-auto rounded-3xl">
            <div class="top-12 left-0 right-12 bottom-22 text-white z-10 flex items-center justify-center">
              <h5 class="text-xl font-bold mb-4 text-white font-georgia ">Speaker Name</h5>
            </div> 
            <p class="text-base leading-loose mb-8 text-sm px-2  text-white font-georgia">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="bg-transparent  text-center   ">
                <img src="image 10.png" alt="Image" class="w-full h-auto rounded-3xl">
                <div class="top-12 left-0 right-12 bottom-22 text-white z-10 flex items-center justify-center">
                  <h5 class="text-lg font-bold mb-4 text-white font-georgia ">Speaker Name</h5>
                </div> 
                <p class="text-base leading-loose mb-8 text-sm px-2  text-white font-georgia">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="bg-transparent text-center   ">
                    <img src="image 10.png" alt="Image" class="w-full h-auto rounded-3xl">
                    <div class="top-12 left-0 right-12 bottom-22 text-white z-10 flex items-center justify-center">
                      <h5 class="text-lg font-bold mb-4 text-white font-georgia ">Speaker Name</h5>
                    </div> 
                    <p class="text-base leading-loose mb-8 text-sm px-2  text-white font-georgia">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
</section>