---
interface Props {
    image: string;
    name: string;
    title: string;
}

const { name, image, title } = Astro.props;
---

<div class="col-span-1 rounded-3xl bg-black border-black">
    <div class="flex flex-col p-4 gap-4">
        <img src={image} class="w-full" />
        <div class="font-georgia font-normal mt-8 text-white">
            <h5 class="text-2xl mb-4">{name}</h5>
            <p class="text-xl">{title}</p>
        </div>
    </div>
</div>
