

<section class="grid gap-y-2x1 border border-solid border-black w-full min-h-96 relative bg-black justify-items-center ">
    <!--Container for top, "Visionary Speakers" and Button -->
    <div class="container grid grid-cols-12 items-center">
        <!--Visionary Speakers-->
        <div class="md:col-span-2 col-span-6">
            <div class="text-left text-black mb-8">
                <h1 class="text-white text-4xl text-balance font-serif">VISIONARY SPEAKERS</h1>
            </div>
        </div>

        <!--Button-->
        <div class="md:col-span-4 col-span-12 md:col-start-9 pb-12">
            <a href="#" class="text-sm overflow-hidden border border-solid p-3 font-bold group default:flex default:border-white w-4/5 rounded-3xl bg-white hover:bg-gray-300">
                View all Speakers→
            </a>
        </div>
    </div>

    <!--Container for speaker cards -->
    <div class = "md:container flex justify-between items-center gap-x-gutter max-w-screen overflow-x-scroll md:overflow-x-visible snap-x snap-mandatory no-scrollbar">
        <!--Card one -->
        <div class="text-center">
            <!--Picture-->
            <img src="#" class="">

            <!--Speaker Description-->
            <h5 class="text-white overflow-hidden pl-3 font-serif">Speaker_Name</h5>
            <p class ="text-white text-sm  overflow-hidden pl-3 font-serif">Lorem ipsum</p>
        </div>
        <!--Card two -->
        <div class="text-center">
            <!--Picture-->
            <img src="#" class="">

            <!--Speaker Description-->
            <h5 class="text-white overflow-hidden pl-3 font-serif">Speaker_Name</h5>
            <p class ="text-white text-sm  overflow-hidden pl-3 font-serif">Lorem ipsum</p>
        </div>
        <!--Card three -->
        <div class="text-center">
            <!--Picture-->
            <img src="#" class="">

            <!--Speaker Description-->
            <h5 class="text-white overflow-hidden pl-3 font-serif">Speaker_Name</h5>
            <p class ="text-white text-sm  overflow-hidden pl-3 font-serif">Lorem ipsum</p>
        </div>
        <!--Card four -->
        <div class="text-center">
            <!--Picture-->
            <img src="#" class="">

            <!--Speaker Description-->
            <h5 class="text-white overflow-hidden pl-3 font-serif">Speaker_Name</h5>
            <p class ="text-white text-sm overflow-hidden pl-3 font-serif">Lorem ipsum</p>
        </div>
    </div>

</section>